{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="mt-5">
  <div class="text-center" >
    <img
    src="{% static 'core/images/pic.jpg' %}"
    alt="profile Pic"
    class="img-thumbnail"
    width="150px"
    height="150px"
  />
  </div>
  <div class="mt-1 text-white mx-5">
    <h1 class="font-weight-bold">Hello</h1>
    <p style="text-indent: 100px">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit
      pariatur cum corrupti nam alias itaque est! Facere necessitatibus ullam
      quod expedita. Minus, quos voluptatibus? Quae perferendis consectetur
      harum unde inventore. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Voluptates ratione dolorum ad? Quod dolorum nihil doloremque quo ad
      qui reprehenderit veritatis, dolores fuga, optio, quia illo quis.
      Suscipit, vitae minima. Hic possimus voluptatum eligendi accusamus
      inventore sit labore repudiandae, consequatur modi reprehenderit numquam
      adipisci minima? Maxime aut delectus impedit sequi. Praesentium impedit
      mollitia magnam odit optio molestiae, enim voluptate consectetur! Placeat
      provident corporis qui incidunt, magni itaque mollitia omnis
      necessitatibus, officia fugiat, eum aperiam explicabo vero vitae accusamus
      accusantium modi ipsa ducimus voluptatum aspernatur! Nostrum tenetur neque
      optio dolorem rerum! Unde aliquid accusantium provident mollitia beatae!
      Doloremque dolorum natus consectetur magni asperiores dicta ab temporibus
      molestiae possimus labore deleniti ipsam assumenda amet earum illum, quae
      harum! Deleniti laudantium eveniet modi. Dicta ipsam maxime, assumenda
      quas vitae nisi iusto accusamus numquam facere sunt excepturi tempore,
      corrupti aut nostrum aliquid fugit ad exercitationem? Obcaecati quos quasi
      iusto adipisci laborum nostrum fugit nesciunt.
    </p>
  </div>
</div>

{% endblock %}
