{% extends 'core/base.html' %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Skills</h1>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" aria-valuenow="95" area-valuemin="0" aria-valuemax="100">
                    95%
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <h3 class="mt-5">JavaScript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:65%" aria-valuenow="65" area-valuemin="0" aria-valuemax="100">
                    65%
                </div>
            </div>
        </div>
    </div>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" aria-valuenow="95" area-valuemin="0" aria-valuemax="100">
                    95%
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <h3 class="mt-5">JavaScript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:65%" aria-valuenow="65" area-valuemin="0" aria-valuemax="100">
                    65%
                </div>
            </div>
        </div>
    </div>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" aria-valuenow="95" area-valuemin="0" aria-valuemax="100">
                    95%
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <h3 class="mt-5">JavaScript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:65%" aria-valuenow="65" area-valuemin="0" aria-valuemax="100">
                    65%
                </div>
            </div>
        </div>
    </div>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" aria-valuenow="95" area-valuemin="0" aria-valuemax="100">
                    95%
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <h3 class="mt-5">JavaScript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:65%" aria-valuenow="65" area-valuemin="0" aria-valuemax="100">
                    65%
                </div>
            </div>
        </div>
    </div>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" aria-valuenow="95" area-valuemin="0" aria-valuemax="100">
                    95%
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <h3 class="mt-5">JavaScript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:65%" aria-valuenow="65" area-valuemin="0" aria-valuemax="100">
                    65%
                </div>
            </div>
        </div>
    </div>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" aria-valuenow="95" area-valuemin="0" aria-valuemax="100">
                    95%
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <h3 class="mt-5">JavaScript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:65%" aria-valuenow="65" area-valuemin="0" aria-valuemax="100">
                    65%
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock content %}