{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Services</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
            <h1>SEO</h1>
            <p class="ss-color">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quidem.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
            <h1>Web Design</h1>
            <p class="ss-color">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quidem.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fab fa-apple fa-2x mb-3 i-color"></i>
            <h1>IOS</h1>
            <p class="ss-color">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quidem.
            </p>
        </div>
    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-ad fa-2x mb-3 i-color"></i>
            <h1>Advertisiting</h1>
            <p class="ss-color">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quidem.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil fa-2x mb-3 i-color"></i>
            <h1>Logo Design</h1>
            <p class="ss-color">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quidem.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
            <h1>Database</h1>
            <p class="ss-color">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quidem.
            </p>
        </div>
    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
            <h1>Hosting</h1>
            <p class="ss-color">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quidem.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
            <h1>SEO</h1>
            <p class="ss-color">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quidem.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
            <h1>Support</h1>
            <p class="ss-color">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quidem.
            </p>
        </div>
    </div>
</div>







{% endblock content %}